* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Amazon Ember', Arial, Helvetica, sans-serif;
  background-color: #eaeded;
  color: #0f1111;
}

a {
  color: inherit;
}

button {
  font-family: inherit;
}
